<!DOCTYPE html>
<html>

<!-- https://vuejs.org/v2/guide/ -->

<head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>

    <br>
    <div id="notice">
        {{ notice1 }}
        {{ notice2 }}
    </div>

    <br>
    <div id="hover">
        <span v-bind:title="span_message">
            Hover your mouse over me for a few seconds to see my dynamically bound title
        </span>
    </div>

    <br>
    <div id="vue_if">
        <button v-on:click="seen = true"> Show the text! </button>
        <button v-on:click="seen = false"> Hide the text! </button>
        <span v-if="seen"> Now you see me</span>
    </div>

    <br>
    <div id="vue_for">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <br>
    <div id="vue_binding">
        <p> {{message}} </p>
        <input v-model="message">
    </div>


    <br>
    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

</body>

<!-- look into onDomLoaded (or whatever it's called) -->
<script src='./index.js'></script>

</html>